# Dependencies
node_modules/

# Build output
dist/

# Logs
logs/
*.log
npm-debug.log*

# Editor
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.local
.vercel
.env*

# Vercel CLI link
.vercel/
